@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page-wrapper {
  max-width: 1680px;
  min-height: 2000px;
  margin: 0 auto;
  background-color: #e2d4c4;
  margin: 0 auto;
  padding: 0 1rem 10rem;
}
.landingimage {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 130px;
  align-items: flex-start;
  max-width: 1680px;


}
.landingimage figure {
  flex: 1 1 auto;
  flex-flow: row nowrap;
}
.landingimage img {
  width: 100%;
  /* padding-left: 40px; */
}
.landingimage img:first-child {
  min-width: 130px;
  max-width: 178px;
}
.landingimage img:last-child {
  max-width: 847px;
}

.landingimage figure:last-child {
  margin-left: 40px;
  width: 150%;
}
.landingimage figure:first-child {
  width: 30%;
}





.gallery_homepage {
  margin-left: 10px;
  /* margin-right: 10px; */
}
.gallery_homepage img{
  display: block;
  margin-top: 5rem;
  width: 80%;
}


/* figurecaption */
.landingimage figure {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}


figcaption {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 11px;
  padding-top: 5px;
  align-self: flex-start;
  max-width: 200px;
}

/* LANDINGPAGE TEXT */

.landingimage p {
  font-size: 14px;
}
.landingimage h2 {
  display: flex;
  flex-flow: column wrap;
}


h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 20px;
}
p {
  font-weight: 400;
  position :relative;

}


/* HEADER STYLE */

header a {
  text-decoration: none;
  color: black;
}
header nav a {
  /* margin-right: 15px; */
  margin: 0 15px; /* THE ALTERED RULE TO APPLY THE MARGIN TO THE ANCHORS' LEFT + RIGHT */
  font-family: 'Lexend', sans-serif;
  font-weight: light;
  font-size: 12px;
}
h1 {
  font-family: 'Bungee', sans-serif;
}

/*
=Navigation › Large Screen
============================================= */
header {
  /* height: auto; ---------THIS RULE IS REDUNDANT AS THE BROWSER DEFAULT IS AUTO */
  /* width: auto; ---------THIS RULE IS REDUNDANT AS THE BROWSER DEFAULT IS AUTO */
  /* text-decoration: none; ---------THIS RULE APPLYS THE ANCHOR ELEMENTS ONLY */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 15px;
  padding-bottom: 15px;
}
h1 a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.mainnav label,
.mainnav input {
  display: none;
}
.menu {
  display: flex;
  /* flex-direction: row; ---------THIS RULE ISN'T NEEDED SINCE THE DEFAULT VALUE IS ROW */
  /* justify-content: space-between; */
}

/* THIS RULE APPLIES THE LEFT MARGIN TO EVERY LIST ITEM THAT IS A CHILD OF THE MENU */
/* .menu li {
  margin-left: 40px;
} */
/* THIS RULE APPLIES THE LEFT MARGIN TO THE IMMEDIATE CHILDREN OF THE MENU */
.menu > li {
  margin-left: 30px;
}

.menu a {
  text-decoration: none;
  color: black;
  display: block;

  font: 500 15px 'Roboto Mono', monospace; /* HERE'S THE SHORTHAND VERSION */
  /* font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 15px; */
}
.submenu {
  /* text-decoration: none; ---------REDUNDANT RULE */
  color: black;
  position: absolute;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.35s linear;
}
.submenu a {
  font-size: 12px;
  padding-top: 4px;
  /* margin-left: -40px; ---------YOU DON'T NEED THIS RULE WITH THE ADJUSTMENT TO THE RULE ON LINE 56  */
  /* font-weight: 400; ---------THIS RULE IS REDUNDANT SINCE THE BROWSER DEFAULT IS 400 */
}
.checkbox,
.navicon {
  position: fixed;
  left: 20px;
  height: 26px;
  width: 26px;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
}
.checkbox {
  opacity:100%;
  z-index: 22;
}
.navicon {
  z-index: 11;
}
.navicon {
  position: relative;
  margin-right: 20px;
}

li:hover .submenu {
  background-color: transparent;
  max-height: 100%;
}
.submenu a {
  color: transparent;
  transition: 0.35s linear;
}
li:hover .submenu a {
  color: black;
}
/*
=Navigation › Small Screen
============================================= */
@media (max-width: 640px) {
  .mainnav label {
    display: block; /* will brings it back also */
    position: relative;
    z-index: 99;
  }
  .menu {
    background-color: bisque;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    margin-top: -50vh;
    flex-direction: row;
    /* transition: 0.35s linear; */
  }
  .menu a {
    color: transparent;
    transition: 0.35s linear;
  }
  .mainnav input:checked + .menu {
    background-color: coral;
    margin: 0;
  }
  .mainnav input:checked + .menu a {
    color: black;
  }

  .menu > li:first-child {
    /* margin-top: 4rem; ---------YOU DON'T NEED THIS RULE--DELETE THIS RULE SET */
  }
  .mainnav > ul {
    padding-top: 4rem; /* USE THIS RULE INSTEAD */
  }

  .submenu {
    display: none;
  }
}







/* = Mobile */
.gallery_homepage {
  display: flex;
  flex-flow: column wrap;
}
.gallery_homepage figure {
  flex: 0 1 100%;
}

/* = Small screen */
@media (min-width: 576px) {

  .gallery_homepage {
    flex-flow: row wrap;
  }
  .gallery_homepage figure {
    flex: 0 1 50%;
  }
}

/* = Large Screen */
@media (min-width: 992px) {



  .gallery_homepage {
    flex-flow: row wrap;
  }
  .gallery_homepage figure {
    flex: 0 1 33.333%;
  }

}
