@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  max-width: 1680px;
  min-height: 1083px;
  margin: 0 auto;
  background-color: #e2d4c4;
  margin: 0 auto;
  padding: 0 1rem 10rem;
}

.gallery {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 130px;
  max-width: 1680px;
  align-items: flex-end;

}
.gallery img {
  width: 100%;

}
.gallery figure {
  flex: 1 1 33.333%;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 30px;

}
.gallery figure:first-child {
  margin-left: -30px;
}


  /* figurecaption */



  .gallery figcaption {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 11px;
    padding-top: 5px;
    align-self: flex-start;
    max-width: 240px;
  }
